<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='s.css')}}">
    <title>Smart Fridge</title>
</head>
<body>
    <header>
        <h1>Smart Fridge</h1>
        <p>Stay organized with the items in your fridge.</p>
    </header>

    <main>
        <section class="fridge-info">
	    <h2>purpose</h2>
	    <p>
		 A refrigerator, often called a fridge, is a common household appliance designed to store and preserve food and beverages at lower temperatures to slow down bacterial growth and maintain freshness. It is an essential part of modern kitchens.
	    </p>

            <h2>Fridge Information</h2>
            <p>
                The smart fridge in your kitchen is a state-of-the-art appliance equipped with the latest technology. It can help you keep track of the items stored inside, suggest recipes based on your ingredients, and even order groceries for you when you're running low.
            </p>
	    <h2>Features</h2>
	    <p>
		 Modern refrigerators come with various features to enhance convenience and food preservation, including:
	    	<ul>
   			<li> Adjustable shelves and compartments</li>
   			<li> Temperature controls</li>
   			<li> Display of list of contents</li>
   			<li> Vegetable and fruit crispers</li>
   			<li> LED lighting for better visibility</li>
   			<li> Smart technology for remote monitoring and control</li>
	    	</ul>
        </section>

        <section class="item-list">
            <h2>History</h2>
            <p>
		The first commercially successful refrigerator was introduced in the early 20th century. Before that, people used iceboxes to store food. Over the years, refrigerators have evolved significantly in terms of technology, design, and energy efficiency.

Modern refrigerators have become an integral part of daily life, helping us store and preserve food efficiently while also offering convenience and features to suit various preferences and needs.
	    </p>
        </section>
    </main>
</body>
</html>
