<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link

      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"

      rel="stylesheet"

    />

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />

    <title>Home</title>

  </head>

  <body>

    <nav>

      <div class="heading">

        <h4>Navigation Bar</h4>

      </div>

      <ul class="nav-links">

        <li><a class="active" href="index.html">Home</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/add">Add</a></li>

        <li><a href="/delete">Delete</a></li>
        <li><a href="/contents">Contents</a></li>
        <li><a href="/">Logout</a></li>


      </ul>

    </nav>
    <div class="container">
  <div class="text">
   <section class="fridge-info">
	    <h2>A modular fridge for a modular kitchen..!</h2>
	    <p>
		 We have all been there, you’re at the grocery store and you can’t remember if you have milk in at home already or you need more. You’re not sure so you grab the extra gallon only to get home and find you already had a full gallon in the fridge already. Avoid this problem with a smart fridge.


	    </p>

            <h2>Purpose</h2>
            <p>
             Most smart fridges allow you to see what is in your refrigerator in real-time from anywhere. Some also provide the feature to see expiration dates on all of your groceries so you can remember to eat them before they go bad, saving you the added cost of buying it again
            </p>

  </div>
  <div class="image">
    <img src="static/image2.jpg" >
    <img src="static/image3.png">
  </div>
</div>


  

  </body>

</html>
