<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link

      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"

      rel="stylesheet"

    />

    <link rel="stylesheet" href="{{url_for('static',filename='home1.css')}}" />

    <title>Home</title>

  </head>

  <body>

    <nav>

      <div class="heading">

        <h4>Navigation Bar</h4>

      </div>

      <ul class="nav-links">

        <li><a href="/">Home</a></li>

        <li><a href="/about1">About</a></li>

        <li><a href="/login1">Login</a></li>

        <li><a href="/signup">Signup</a></li>


      </ul>
     

    </nav>
    <div class="image-container">
  <img src="static/image1.jpg" >
  <div class="text-overlay">
    <p>!!A modular fridge for a modular kitchen!!</p>
  </div>
</div>


  </body>

</html>