<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link

      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"

      rel="stylesheet"

    />

    <link rel="stylesheet" href="{{url_for('static',filename='navigation.css')}}" />

    <title>Home</title>

  </head>

  <body>

    <nav>

      <div class="heading">

        <h4>Navigation Bar</h4>

      </div>

      <ul class="nav-links">

        <li><a class="active" href="/home">Home</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/add">Add</a></li>

        <li><a href="/delete">Delete</a></li>
        <li><a href="/contents">Contents</a></li>
        <li><a href="/">Logout</a></li>


      </ul>

    </nav>

    {% block content %}
    {% endblock %}

  </body>
  